---
import commonStyles from "./../styles.module.css";
import styles from "./person.module.css";
import ResultsList from "../Results/ResultsList.astro";
import { Image } from "astro:assets";
import { getPeople } from "@utils/getPeople";

const { data } = Astro.props;

const { details, jobs, jobKeys, knownFor, profilePath } = data;
---

<div class={commonStyles.container}>
  {details && (
    <>
      <h3 class={styles.personName}>{details.name}</h3>
      <div class={styles.personTopDetails}>
        <div class={commonStyles.photo}>
          <Image
            alt={details.name}
            src={profilePath}
            width={185}
            height={278}
          />
        </div>
        <div class={styles.personBio}>
          {details.biography ? (
            <p>{details.biography}</p>
          ) : (
            <p>No biography available.</p>
          )}
        </div>
      </div>
    </>
  )}
  
  {jobs && jobKeys.map((jobTitle: string) => (
    <div class={styles.jobSection}>
      <div class={styles.personJobHeader}>
        <h4>
          {jobTitle} ({jobs[jobTitle].length} {jobs[jobTitle].length === 1 ? "credit" : "credits"})
        </h4>
      </div>
      <ResultsList results={jobs[jobTitle]} category={'combined'}/>
    </div>
  ))}
</div>
